{% extends "layout.twig" %}

{% block content %}
<div>
    <div id="chat_container" class="chat">
        <div class="row">
            <div class="hide-on-med-and-up col s12">
                <div class="chat_sidebutton_container" style="width:100%; height:100%;">
                    <button class="waves-effect waves-light btn real_btn" id="notif_button_small">Notifs</button>
                </div>
                <p id="hide_this">Veuillez choisir quelqu'un à qui parler</p>
                <div class="profiles_list_container_small mCustomScrollbar" data-msc-theme="dark" id="profiles_small">    
                    {% if UserActiv %}
                        {% for elem in UserActiv %}
                        <div class="profil_list_user_small" data-id="{{elem.id}}">
                            <div class="profil_list_pict_small imgcontainer_square">
                                {% if elem.profil_pict == '#'%}
                                    <img class="img responsive-img" src="app/css/image/Photo-non-disponible.png" alt="No profile pict"/>
                                {% else %}
                                <img class="img responsive-img" src="/matcha/{{elem.profil_pict}}" alt="Profile pict"/>
                                {% endif %}
                            </div>
                            <div style="display:flex">
                                    <div class="profil_list_username_small">
                                        <p style="margin:0;">{{elem.login}}</p>
                                    </div>
                                    <div class="user_new_msg hidden"></div>
                                </div>
                            <hr style="border:0"/>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="no_chat">
                            No chat
                        </div>
                    {% endif %}
                </div>
                <div class="messages_container hidden center" id="messages_smallz">
                    <button class="waves-effect waves-light btn return_list" id="return_to_list">Revenir à la liste des utilisateurs</button>
                    <div id="current_profil_info_small" class="current_profil">
                        <div class="default_profil_info">
                            <p class="default_message">Choisissez une personne<br/> a qui parler</p>
                            <img style="width:33%" src="/matcha/app/css/image/fleche_gauche.png" alt="" class="responsive-img" />
                        </div>
                        <div id="profil_name_small" class="hidden center">
                            <p></p>
                        </div>
                        <div id="profil_image_small" class="hidden">
                            <img src="#" alt="" class="responsive-img" style="width:40%;">
                        </div>
                        <div id="profil_link_small" class="hidden center">
                            <a href="#">Voir le profil</a>
                        </div>
                    </div>
                    <div class="chat-container hidden" id="chat_msg_small" style="border:1px solid black">
                        <div id="next_small" class="nextbtn">Afficher les messages précédents</div>
                        <ul id="messages_small"></ul>
                    </div>
                    <div class="input-field center hidden" id="form_block_small">
                        <form action="" method="POST" id="form_messages_small">
                            <textarea class="input_txt" id="text_content_small"></textarea>
                            <input type="hidden" id="user_id_small" value="" />
                            <button type="submit" id="submit_btn_small" class="waves-effect waves-light btn real_btn">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="hide-on-small-only">
                <div class="col m2 l2">
                    <div class="profiles_list_container mCustomScrollbar" data-msc-theme="dark">
                        {% if UserActiv %}
                            {% for elem in UserActiv %}
                            <div class="profil_list_user" data-id="{{elem.id}}">
                                {% if elem.connected == 'yes' %}
                                    <i class='material-icons green-text status-icon'>lens</i>
                                {% else %}
                                    <i class='material-icons red-text status-icon'>lens</i>
                                {% endif %}
                                <div class="profil_list_pict imgcontainer_square">
                                    {% if elem.profil_pict == '#'%}
                                        <img class="img responsive-img" src="app/css/image/Photo-non-disponible.png" alt="No profile pict"/>
                                    {% else %}
                                    <img class="img responsive-img" src="/matcha/{{elem.profil_pict}}" alt="Profile pict"/>
                                    {% endif %}
                                </div>
                                <div style="display:flex">
                                    <div class="profil_list_username">
                                        <p style="margin:0;">{{elem.login}}</p>
                                    </div>
                                    <div class="user_new_msg">{% if elem.new_msg != 0 %}{{elem.new_msg}}{% endif %}</div>
                                </div>
                                <hr style="border:0"/>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="no_chat">
                                No chat
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col m8 l8">
                    <div class="messages_container">
                        <div id="current_profil_info" class="">
                            <div class="default_profil_info">
                                <p class="default_message">Choisissez une personne<br/> a qui parler</p>
                                <img style="width:33%" src="/matcha/app/css/image/fleche_gauche.png" alt="" class="responsive-img" />
                            </div>
                            <div id="profil_name" class="hidden center">
                                <p></p>
                            </div>
                            <div id="profil_image" class="hidden">
                                <img src="#" alt="" class="responsive-img" style="width:40%;">
                            </div>
                            <div id="profil_link" class="hidden center">
                                <a href="#">Voir le profil</a>
                            </div>
                        </div>
                        <div class="chat-container hidden" id="chat_msg" style="border:1px solid black">
                            <div id="next" class="nextbtn">Afficher les messages précédents</div>
                            <ul id="messages"></ul>
                        </div>
                        <div class="input-field center hidden" id="form_block">
                            <form action="" method="POST" id="form_messages">
                                <textarea class="input_txt" id="text_content"></textarea>
                                <input type="hidden" id="user_id" value="" />
                                <button type="submit" id="submit_btn" class="waves-effect waves-light btn real_btn">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col m2 l2">
                    <div class="chat_sidebutton_container" style="width:100%; height:100%;">
                       <button class="waves-effect waves-light btn real_btn" id="notif_button">Notifs</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="notif_container" style="display:none">
        <div class="row">
            <div class="col m2 l2 ">

            </div>
            <div class="col m8 l8">
                <ul class="collapsible" data-collapsible="accordion">
                    <li id="li_like">
                    <div class="collapsible-header" id="like_block">Likes <span id="likebadge" class="badge">{{notif.like_count}}</span></div>
                        <div class="collapsible-body" id="like_block_content">
                            <div id="next_likes" class="next_notif noselect">
                                Afficher la suite
                            </div>
                            <ul id="collection_like" class="collection">
                            </ul>
                        </div>
                    </li>
                    <li id="li_visit">
                        <div class="collapsible-header" id="visits_block">Visites <span id="visitesbadge" class="badge">{{notif.visites_count}}</span></div>
                        <div class="collapsible-body" id="visits_block_content">
                            <div id="next_visite" class="next_notif noselect">
                                Afficher la suite
                            </div>
                            <ul id="collection_visit" class="collection">
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col m2 l2">
                <button class="waves-effect waves-light btn real_btn" id="chat_button">Messages</button>
            </div>
        </div>
    </div>
</div>
<script>
    var useractiv = '{{ UserActiv|json_encode|raw }}';
    (function($){
        $(window).on("load",function(){
            $(".content").mCustomScrollbar({
                axis:"y",
                scrollbarPosition: "outside"
            });
        });
    })(jQuery);
</script>
<script type="text/javascript" src="/matcha/app/js/chat.js"></script>
<script src="/matcha/app/js/jquery.mCustomScrollbar.concat.min.js"></script>
{% endblock %}