{% extends "layout.twig" %}

{% block content %}
 <div class="container section center-align">
      <div class = "row">

 <form action="{{ path_for('profil')}}" method="post">
    <div class="form-group left-align">
      <label class="scrib " for="name"> Votre nom </label>
      <input type="text" class="form-control" name="name" id="name">
      {% if flash.login %}
       <div class="alert">
         {{ flash.login }}
       </div>
      {% endif %}
    </div>
    <div class="form-group left-align">
      <label class="scrib " for="password"> Votre password</label>
      <input type="password" class="form-control" name="password" id="password">
      {% if flash.pass %}
       <div class="alert">
         {{ flash.pass }}
       </div>
      {% endif %}
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary black-btn" value="envoyer">
    </div>
  <input type="hidden" name="latitude" value="" id="latitude">
  <input type="hidden" name="longitude" value="" id="longitude">
 </form>
</div>
  <div class="row">
    <div clas="col s6">
      <a href="{{ path_for('signUp')}}" class="link_home"> Create a new Hackount</a>
    </div>
    <div clas="col s6">
      <a href="{{ path_for('Recover')}}"class="link_home"> Recover Mdp</a>
    </div>
    {% if flash.status %}
     <div class="alert">
       {{ flash.status }}
     </div>
    {% endif %}
  </div>
 </div>
{% endblock %}
