{% extends "layout.twig" %}

{% block content %}
<div class="row">
  <div class="col s6">
      {% if logs %}
        {% if logs.connected == 'yes' %}
          <i class='material-icons green-text absolute'>lens</i>
        {% else %}
          <i class='material-icons red-text absolute'>lens</i>
        {% endif %}
      {% endif %}
      {% if profil_pict %}<img  class="profil_pict" src="/matcha/{{ profil_pict}}"> {% endif %}
      {% if login %}
      <div  class="text-field">login : {{ login }}</div>
      <button type="button" name="report" onclick="openreportpanel('{{ login }}', event)">report</button>
      <button type="button" name="like" onclick="likeuser('{{ login }}', event)">like</button>
      <button type="button" name="block" onclick="blockuser('{{ login }}', event)">block</button>
    {% endif %}
  </div>

  <div class="col s6">
    <div>
      {% if nom %}<div  class="text-field">nom : {{ nom }}</div> {% endif %}
      {% if prenom %}<div  class="text-field">prenom : {{ prenom }}</div> {% endif %}
      {% if age %}<div  class="text-field">age : {{ age }}</div> {% endif %}
      {% if sexe %}<div  class="text-field">sexe : {{ sexe }}</div> {% endif %}
      {% if oriented %}<div  class="text-field">orientation : {{ oriented }}</div> {% endif %}
    </div>
    <div>
    </div>
  </div>
</div>
<div class="col s12">
  {% if pictures %}
  <div>
    {% for elem in pictures %}
      <img class="miniProfilPict" src="/matcha/{{elem}}">
    {% endfor %}
  </div>
  {%endif%}
</div>
<div class="row">
  <div class="col s6">
    <div  class="text-field big">bio :{% if bio %} {{ bio }} {% endif %}</div>
    <div class="tag-field">tags :
      {% if tags %}
        {% for elem in tags %}
          <div class="chip">
              {{ elem.name_tag }}
          </div>
        {% endfor %}
       {% endif %}
     </div>
  </div>
  <div class="col s6">
    <div class="text-field">distance :{% if dist.dist %} {{ dist.dist }} km {% endif %}</div>
    <div class="text-field">location :{% if geoloc %} {{ geoloc.info.address_components.3.short_name }}  {% endif %}</div>
  </div>
</div>
{% endblock %}
