{% extends "layout.twig" %}

{% block content %}
 <div class="container section">
  <div class = "row">
     {% if profils %}
      {% for user in profils %}
      <div class="col s8 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{ user.profil_pict }}">
        </div>
        <div class="card-content">
          <span class="card-title">{{ user.login }}</span>
          <span class="badge"> {{ user.score }} / 100</span>
          <span>{{ user.dist }} km</span>
        </div>
        <div class="card-action">
          <a href="/matcha/lookat/{{ user.login }}">profil</a>
        </div>
      </div>
    </div>
      {% endfor %}
      {% else %}
      <span>  Vous etes le seul magicien du quartier. </span>
     {% endif %}

  </div>
 </div>
{% endblock %}
