{% extends "layout.twig" %}

{% block content %}

{% if flash.error.error %}
 <div class="alert">
   {{ flash.error.error }}
 </div>
{% endif %}

  <div class="row">
    <form action="{{ path_for('signUp')}}" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" class="form-control" name="pseudo" id="pseudo" value="{%  if login  %}{{ login }}{%endif%}">
          <label class="scrib black-text" for="pseudo"> Votre pseudo </label>
          {% if flash.error.pseudo %}
           <div class="alert">
             {{ flash.error.pseudo }}
           </div>
          {% endif %}
        </div>
    <div class="input-field col s12">
      <input type="text" class="form-control" name="prenom" id="prenom">
      <label class="scrib black-text" for="prenom"> Votre prenom </label>
      {% if flash.error.prenom %}
       <div class="alert">
         {{ flash.error.prenom }}
       </div>
      {% endif %}
    </div>
    <div class="input-field col s12">
      <input type="text" class="form-control" name="nom" id="nom">
      <label class="scrib black-text" for="nom"> Votre nom de famille </label>
      {% if flash.error.nom %}
       <div class="alert">
         {{ flash.error.nom }}
       </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="password" class="form-control" name="password" id="password">
      <label class="scrib black-text" for="password"> Votre password</label>
      {% if flash.error.password %}
       <div class="alert">
         {{ flash.error.password }}
       </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
        <input type="email" class="form-control" name="email" id="email">
        <label class="scrib black-text" for="email"> Votre email</label>
        {% if flash.error.email %}
         <div class="alert">
           {{ flash.error.email }}
         </div>
        {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
        <input type="text" class="form-control" name="answer" id="answer">
        <label class="scrib black-text" for="answer"> Votre phrase secrete</label>
        {% if flash.error.answer %}
         <div class="alert">
           {{ flash.error.answer }}
         </div>
        {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <div class="row">
        <div class="col s6 m6 l6">
          <input type="text" class="datepicker" name="birthday" id="birthday">
            <label class="scrib black-text" for="birthday"> Votre anniversaire</label>
        </div>
        {% if flash.error.birthday %}
         <div class="alert">
           {{ flash.error.birthday }}
         </div>
        {% endif %}
      </div>
    </div>
  </div>
  <input type="hidden" name="latitude" value="" id="latitude">
  <input type="hidden" name="longitude" value="" id="longitude">
  <button type="submit" class="btn btn-primary" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </form>
 </div>

{% endblock %}
