<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/matcha/app/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/matcha/app/css/perso.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/matcha/app/css/nouislider.css"  media="screen,projection"/>
<link rel="stylesheet" href="/matcha/app/css/jquery.mCustomScrollbar.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title> Abracadamatcha </title>
</head>

<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/matcha/app/js/materialize.js"></script>
<script type="text/javascript" src="/matcha/app/js/wNumb.js"></script>
<script type="text/javascript" src="/matcha/app/js/nouislider.js"></script>
<script type="text/javascript" src="/matcha/app/js/perso.js"></script>
<header class="page-header internal-border" id="header">
  <div class="col s12 m12 l12 internal-border ">
    <a href="{{ path_for('home') }}"><h1 class="center-align center-block scrib title text-gold-shadow" > Abracadamatcha</h1></a>
  </div>
  <div class="container section sec-part-header" id="head-part-two">
    <div class="row center" id="header-menu-container"  connected="{{ Connector }}">
      {% if Connector == 1 %}
      <div  class="col s2">
        <div class="notif_block">
        <a href="{{ path_for('recherche') }}">
          <div class="cristalballz circle centeritem glow">
            <p class="recherche pulse center-align">Recherche</p>
          </div>
          <div style="position:absolute;">
            <img src="/matcha/app/css/image/boule-de-cristal.png" class="ball" />
          </div>
        </a>
      </div>
      </div>
      <div  class="col s2">
        <div class="notif_block">
        <a href="{{ path_for('profil') }}"><img src="/matcha/app/css/image/encrier nohover.png" class="inkwell" /></a>
      </div>
      </div>
      <div  class="col s2">
        <div class="notif_block">
        <div class="minimap-contain">
          <img src="/matcha/app/css/image/treasure-map.png" class="minimap" onclick="ShowMap()" />
        </div>
      </div>
      </div>
      <div class="col s3">
        <div class="notif_block">
          <a href="{{ path_for('messenger') }}" id='linkenveloppe'>
            <img src="/matcha/app/css/image/enveloppe.png" class="img_enveloppe" alt="">
            <span id="notif" class="new badge orange darken-4">0</span>
            <span id="msg_nbr" class="new msg badge deep-purple darken-2 left-badge">0</span>
          </img>
          </a>
        </div>
      </div>
      <div class="col s3">
          <a href="{{ path_for('logout')}}"><img src="/matcha/app/css/image/potion-oubli.png" class="logout" alt="potion d'oubli"></a>
     </div>
       {% endif %}
    </div>
  </div>
  <div id="map"></div>
</div>
</header>
<main class="parchemin valign-wrapper ">
<div class="container section " id="maincontainer">

{% block content %} {% endblock %}
</div>
</main>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class=" ">Footer Content</h5>
          <p class=" ">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="">Links</h5>
          <ul>
            <li><a class=" " href="{{ path_for('contact') }}">Contact</a></li>
            <li><a class=" " href="#!">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>
<script >
$(document).ready(function() {
   $('select').material_select();
   $('.carousel').carousel();
   $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 82,
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false,
    max: new Date(new Date().setFullYear(new Date().getFullYear() - 18))
  });
  autonotif();
  initSidNav();
    initMap();
});
 </script>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEwSUfxPzIphYziId_jFOIdx54clUnsdo&callback=initMap"
 type="text/javascript"></script>
</body></html>
